@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap');

body {
    font-family: 'Antonio', sans-serif;
    background-color: #000000;
    color: #FFD700;
    margin: 0;
    padding: 0;
}

.lcars-bar {
    background-color: #333333;
    /* clip-path: polygon(0 0, 100% 0, 100% 30%, 70% 100%, 0 100%); */
    padding: 10px 20px;
	font-size: 24px;
 	text-transform: uppercase;
	text-align: right;
    border-radius: 50px; /* Adjust as needed */


}


header h1 {
    color: #cc77ff;
    text-align: right;
	padding: 10px;
	margin: 20px;
    border-radius: 50px;

}

.lcars-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.statistics, .generator-options {
    background-color: #222222;
    color: #cc77ff;
    width: 200px; /* Adjusted width */
    height: 500px; /* Changed to auto to accommodate content */
    overflow-y: auto;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    line-height: 1.5; /* Improved line spacing for readability */
}

/* Additional styling for better readability */
.statistics p, .generator-options p {
    margin-bottom: 0.5rem; /* Adds a little space below each paragraph for separation */
}

.planet-separator {
    height: 10px; /* Adjust the height for more or less space */
}

button {
    font-family: 'Antonio', sans-serif;
    background-color: #7788ff;
    border: 2px solid #000000;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: auto;
	width: 100%;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 700;
  	text-transform: uppercase;

}

.map-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Adjust to stack elements vertically */
}

#planetCanvas {
    flex-grow: 1;
    max-width: 800px;
    height: 500px;
    margin-bottom: 20px; /* Add some space between the canvas and the navigation bar */
}

/* New style for the planet navigation */
#planet-navigation {
    display: flex;
    justify-content: center; /* Center the navigation buttons */
    gap: 10px; /* Space between buttons */
    padding: 10px; /* Padding around the navigation bar */
    margin: 20px 0; /* Margin above and below the navigation bar */
    width: 100%; /* Adjust this if necessary */
    max-width: 500px; /* Match this with the canvas width */
}

#planet-navigation button {
    background-color: #FFD700; /* Button color */
    color: #000000; /* Button text color */
    border: none; /* Remove border */
    padding: 10px 15px; /* Padding inside buttons */
    font-size: 16px; /* Text size */
    cursor: pointer; /* Cursor on hover */
    border-radius: 5px; /* Rounded corners for buttons */
    text-transform: uppercase; /* Uppercase text */
    font-weight: bold; /* Bold text */
}

#planet-navigation button:hover {
    background-color: #cc77ff; /* Button hover color */
}

/* This ensures the navigation bar doesn't disrupt the layout of other components */
.habitable-planet-container {
    margin-top: 20px; /* Ensure there's a gap between the navigation bar and the details section */
}


/* Custom Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.habitable-planet-container {
    /* Add your styling here, for example: */
    margin: 20px;
    padding: 10px;
    background-color: #333; /* Or any other color that fits your theme */
    color: #cc77ff;
    border-radius: 10px;
}

/* New styles for the element details */
.habitable-planet-container .element-details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between elements as needed */
    margin-top: 10px; /* Adjust as needed */
}

.habitable-planet-container .element-details span {
    margin: 0; /* Remove default paragraph margins */
    white-space: nowrap; /* Prevents the text from wrapping */
}

.planet-details-header {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;

}

.planet-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 0;
    font-size: 1.8em;
    text-transform: uppercase;

}

.planet-details-separator {
    margin: 0 1em;
}

.planet-details-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 6 columns for 6 items */
    gap: 10px;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 20px;
    text-transform: uppercase;

}

.element-details-container {
    max-height: 150px;
    overflow-y: auto;
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(8, 2fr); /* Updated to fit 8 columns */
    gap: 10px;
    text-transform: uppercase;

}

.graph-container {
    margin-top: 20px;
}

.element-details-header {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;

}

.element-detail {
    text-align: left;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.solar-system-title {
    text-align: center;
    margin-bottom: 20px; /* Adjust space below the title as needed */
}

.planet-details-container {
    margin-bottom: 20px; /* Space between each planet's details */
}

.planet-detail {
    margin-bottom: 5px; /* Space between each detail line */
}

.planet-separator {
    border: none;
    height: 2px; /* Thickness of the horizontal line */
    background-color: #ccc; /* Color of the horizontal line */
    margin: 20px 0; /* Space above and below the horizontal line */
}

.habitable-zone-notice {
    font-weight: bold;
    margin-bottom: 20px; /* Space below the habitable zone notice */
}

/* Ensure the CSS for the solar system box doesn't override these styles */
#solarSystemProperties {
    font-size: inherit; /* Ensures the font size is not changed */
    color: inherit; /* Ensures the text color is not changed */
}